.story {
    width: 1240px;
    height: 338px;
    flex-shrink: 0;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    background: #FFF;
    
    /* блоки */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);

    display: flex;
    flex-direction: column;

    padding-top: 40px;
    box-sizing: border-box;
}

.story__title {
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0 auto;
}

.story__text_1 {
    width: 1161px;
    color: #000;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    margin: 0 auto;
    margin-top: 40px;
}

.story__text_2 {
    width: 1161px;
    color: #000;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    margin: 0 auto;
    margin-top: 20px;
}

/* ------------------------------------------------------------------------------------------------ */

.why_we {
    width: 1240px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto
}

.why_we__title {
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.why_we__line {
    width: 100%;
    height: 1px;
    margin-top: 22px;
    background-color: black;
}

/* ------------------------------------------------------------------------------------------------ */

.boxes {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    column-gap: 29px;
    margin: 0 auto;
    margin-top: 50px;
}

.boxes__item {
    width: 394px;
    height: 299px;
    flex-shrink: 0;

    border-radius: 15px;
    background: var(--, #FFF);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);

    display: flex;
    flex-direction: column;
    padding-top: 45px;
    box-sizing: border-box;
    text-align: center;
}

.boxes__item_img {
    margin: 0 auto;
}

.boxes__item_title {
    color: #000;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-top: 50px;
}

.boxes__item_text {
    width: 285px;
    margin: 0 auto;
    margin-top: 23px;
    color: #000;
    text-align: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ------------------------------------------------------------------------------------------------ */

.form {
    width: 1190px;
    height: 146px;
    flex-shrink: 0;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__title {
    margin: 0 0 33px 0;
    color: #000;
    font-family: 'Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.form__name {
    width: 855px;
    border: none;
    border-bottom: black solid 1px;
    color: black;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 0 0 0;
}

.form__phone {
    width: 855px;
    border: none;
    border-bottom: black solid 1px;
    color: black;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 26px 0 0 0;
}

.form__label {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 226px;
    color: #000;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form__submit {
    position: absolute;
    top: 96px;
    right: 37px;
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #FFBA08;
    border: none;

    color: #000;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.form__submit:hover {
    background: #cf9605;
    transition: 0.2s;
}